html {
    min-height: 100%;
    user-select: none;
}
.drag {
    pointer-events: none;
    cursor: se-resize;
}
body {
    background: linear-gradient(#0a0138, #020107 600px);
    font: 12px Arial, sans-serif;
    color: #fff;
}
header {
    text-align: center;
}
nav {
    text-align: center;
}
.material-icons {
    display: inline-block;
    color: #09f;
}

.material-icons.add:after {
    content: "add";
    font-weight: bold;
    cursor: pointer;
}

.material-icons.remove:after {
    content: "remove";
    font-weight: bold;
    cursor: pointer;
}

.material-icons.star:after {
    content: "star_border";
    cursor: pointer;
}

.active .material-icons.star:after {
    content: "star";
    cursor: pointer;
}

.material-icons.chat:after {
    content: "chat_bubble_outline";
    cursor: pointer;
}
.chatting .material-icons.chat:after {
    content: "chat_bubble";
    cursor: pointer;
}

.material-icons.resize:after {
    content: "transform";
    cursor: se-resize;
}

.view-controller {
    display: grid;
    margin-top: 0.5em;
    grid-template-columns: 3em 3em auto 3em 3em;
    text-align: center;
}
.view-controller * {
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
}

.view-controller *:hover {
    opacity: 1;
    transition: opacity 0s ease-in;
}

.waifu-box button {
    border: 0;
    padding: 0;
    margin: 0 1px;
    background-color: transparent;
    cursor: pointer;
}

.waifu-box button * {
    display: block;
}

.waifu-box button.active {
    border: 1px solid rgba(0, 153, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 153, 255, 1);
}

.waifu-box input {
    position: relative;
    vertical-align: top;
    margin: 1px;
    top: 1px;
    height: 23px;
    width: 190px;
    transition: width 300ms;
    transition-delay: 300ms;
}

.waifu-box input:focus {
    width: 265px;
    transition-delay: 0ms;
}

.grid {
    resize: horizontal;
    overflow: hidden;
    margin: auto;
    padding-bottom: 30px;
    width: 1200px;
    max-width: 100%;
    min-width: 800px;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto;
}
.grid .stream-area {
    /* grid-column-start: 1;
    grid-column-end: 2; */
}
.grid .chat-area {
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid .channel-area {
    grid-column-start: 1;
    grid-column-end: 3;
}
.inactive {
    display: block;
}
.stream-area {
    display: block;
    /* display: grid; */
    /* grid-template-columns: auto; */
    /* background-color: #8f8; */
}
.chat-area {
    background-color: transparent;
}
.placeholder {
    top: 2%;
    left: 2%;
    position: relative;
    height: 96%;
    width: 96%;
    border-radius: 10px;
    background-color: #bbb;
    text-align: center;
}
.placeholder:after {
    content: "Loading...";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: bold;
}
.controllers {
    display: block;
    width: 100%;
    text-align: center;
}
.icon-area {
    display: block;
    margin: auto;
    max-width: 750px;
}
.view {
    display: inline-block;
    width: 100%;
}
.stream {
    color: #fff;
    background-color: #000;
    width: 100%;
    /* padding-bottom: 30px; */
    /* overflow: hidden; */
    /* resize: horizontal; */
}
[style*="--aspect-ratio"] {
    position: relative;
}
[style^="--aspect-ratio"]::before {
    content: "";
    display: block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.stream iframe,
.player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30px;
    height: 100%;
    width: 100%;
    border: 0;
}
.chat {
    height: 100%;
    width: 100%;
}
/* .waifu-box {
    background-color: #576;
} */
.channel {
    display: inline-block;
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 5px;
    outline: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #020107;
}
.channel:hover {
    z-index: 1;
}
.channel-header {
    color: #09f;
}
.channel-header .left.arrow,
.channel-header .right.arrow {
    padding: 10px 40px;
    font-size: 1.4em;
    cursor: pointer;
}
.channel-header .left.arrow:hover,
.channel-header .right.arrow:hover {
    color: #fff;
}
.channel .label {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 0.25em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.1em;
    padding-bottom: 0.25em;
    min-width: 80px;
    cursor: pointer;
    background-color: #000060;
    border: 1px #09f solid;
    color: #09f;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}
.channel:hover .label {
    display: block;
}

.channels.online .channel.offline {
    display: none;
}
.channels.popular .channel[data-popularity="0"] {
    display: none;
}
.channels.online-popular .channel.offline {
    display: none;
}
.channels.online-popular .channel.offline:not([data-popularity="0"]),
.channels.popular .channel.offline:not([data-popularity="0"]) {
    display: inline-block;
    filter: grayscale(100%);
}
.channels.other .channel {
    display: none;
}
.channels.history .channel {
    display: none;
}
.channels.all .channel {
    display: inline-block;
}
.channels.offline .channel.offline {
    display: inline-block;
}
.channels.offline .channel:not(.offline) {
    display: none;
}

.channel .icon {
    height: 50px;
    width: 50px;
    opacity: 0.25;
    transition: opacity 250ms ease-in;
}
.channel .icon:not([src*="fightanvidya.com"]) {
    height: 46px;
    width: 46px;
    border: 2px solid #777;
    border-radius: 4px;
    object-fit: cover;
}
.channel:hover .icon {
    opacity: 1;
    transition: opacity 0ms ease-in;
}
.channel.active .icon {
    opacity: 1;
}

.hamburger {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 4;
}

.hamburger:focus,
.hamburger.is-active:focus {
    outline: 0;
}

.hamburger.not-active {
    opacity: 0;
}

.hamburger:hover,
.hamburger.is-active:hover {
    opacity: 1;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: #fff;
}

.fv-main {
    transition: margin 0.25s;
}

.fv-main.default {
    margin-right: 0;
}

.fv-main.push {
    margin-right: 500px;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100vh;
    width: 0px;
    max-width: 100vw;
    background: #020107;
    transition: width 0.25s;
}

.drawer.is-active {
    width: 500px;
}

footer {
    height: 200px;
}

.mobile-header {
    display: none;
}

/* @media screen and (max-width: 800px) { */
@media (orientation: portrait) {
    header,
    nav.submenu,
    footer,
    .view-controller,
    .controllers.default {
        display: none;
    }
    .grid {
        grid-template-columns: auto;
        min-width: auto;
        min-height: 100%;
    }
    .grid .stream-area {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .grid .chat-area {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    /* .grid .channel-area {
        grid-column-start: 2;
        grid-column-end: 3;
    } */
    .inactive {
        display: none;
    }

    body {
        margin: 0;
    }
    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
    }
    .hamburger.not-active {
        opacity: 1;
    }
    .fv-main.push {
        margin: 0;
    }
    .controllers.reveal {
        display: block;
        position: absolute;
        top: 60px;
        height: calc(100vh - 60px);
        width: 100%;
        background: black;
    }
    .grid {
        height: calc(100vh);
        grid-template-rows: 55px calc(100vw * (9 / 16)) auto;
        padding: 0;
    }
    .mobile-header {
        display: block;
        background: linear-gradient(to bottom, #423f96, #2e2d8b);
        border-top: 1px solid #a888d5;
        border-bottom: 1px solid #1a198b;
    }
    .mobile-logo {
        margin: 5px 10px;
        height: 45px;
    }
    .mobile-logo img {
        max-height: 100%;
    }
}
